@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-bar {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .menu-bar button {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }
  
  .menu-bar button.is-active {
    background-color: #e6e6e6;
  }